<div class="w-full overflow-x-auto">
    <div class="flex">
        @for (picture of pictures; track $index) {
        <div class="carousel-item">
            <img [src]="picture.src" [alt]="picture.alt" [width]="picture.width" [height]="picture.height">

        </div>
        }

    </div>
</div>

<div class="flex justify-center flex-wrap gap-5 my-5 px-4">
    @for (video of videos; track $index) {
    <div class="video-container">
        <video #videoElement preload="metadata" [playsInline]="true" [loop]="true"
            [src]="video" (click)="pause(videoElement)"></video>
        @if (videoElement.paused) {
        <!-- Ícono de play centrado -->
        <div class="play-icon" (click)="play(videoElement)">
            <svg xmlns="http://www.w3.org/2000/svg" width="3rem" fill="#ffffff" viewBox="0 0 16 16">
                <path
                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814z" />
            </svg>
        </div>
        }
    </div>
    }

</div>