:root {
  --color-primary: #fe0000;
  --color-secondary: #0e0e0e;
  --color-tertiary: #f0f0f0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--color-secondary);
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}
