:root {
  --color-primary: #fe0000;
  --color-secondary: #0e0e0e;
  --color-tertiary: #f0f0f0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'photoswipe/dist/photoswipe.css';

body {
  background-color: var(--color-secondary);
}